<title>Search</title>
<%- include("partials/header"); -%>
<link rel="stylesheet" href="searchstyle.css">


<section id="search">

  <h2>Search your information with us!</h2>
    <form action="/result" class="srch" method="post">
      <div class="input-group ">
         <div class="input-group-text" id="btnGroupAddon">Input ID</div>
         <input type="text" class="form-control" name="IDname" placeholder="enter the name here">
         <button type="submit" name="button">Submit</button>
       </div>
    </form>
<div class="srch">
  <table class="table table-striped table-bordered table-hover table-info">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">SMILES</th>
        <th scope="col">Heavy_Atoms</th>
     </tr>
   </thead>
   <tbody>
     <tr>
       <%  idnn.find(function(item){ %>
          <td> <%= item.id%> </td>
          <td><%= item.SMILES %> </td>
          <td><%= item.Heavy_Atoms %> </td>
       <%  }); %>
       </tr>
   </tbody>
  </table>
  <td><%= empty %> </td>
  </div>

</section>
<%- include("partials/footer"); -%>
